.colaborador {
    position: relative;
    width: 320px;
    margin-bottom: 2rem;
}

.colaborador .cabecalho {
    background-color:  #F0F0F0;
}
.colaborador img {
    width: 290px;
    height: 260px;
    border: 1px solid #000;
    position: relative;
    bottom: -50px;
}

.colaborador .rodape {
    background: #fdfdfd;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding-top: 70px;
    padding-bottom: 40px;
}

.colaborador .rodape h4 {
    color: #6278F7;
    font-size: 1.8rem;
    line-height: 22px;
    font-weight: bold;
    margin-bottom: .5rem;
}

.deletar {
    position: absolute;
    cursor: pointer;
    right: -10px;
    top: -10px;
}

.favorito {
    margin-top: 1.2rem;
}